body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: black;
}

button{
    width: 400px;
    height: 100px;
    cursor: pointer;
    background: #51e2f5;
    border: 5px solid #9bd8e0;
    font-size: 50px;
    border-radius: 10px;
    transition: .5s;
    position: absolute;
}

